* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #000000;
}
img {
    width: 17vw;
    margin: 5px;
    border: 3px solid white
}
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}